# Data science tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* Data science languages
* Data science libraries
* Data science tools

## Languages for data science
Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. SQL

## Data science libraries
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

## Data science tools
| Data science tools |
|------------------|
| MySQL |
| PostgreSQL |
| Hadoop |

## Arithmetic Expression Examples
### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Amruta A Bobade